/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		border-left-style: none;
		border-left-width: 1px;
		border-left-color: #a9a9a9;
		border-right-style: none;
		border-right-width: 1px;
		border-right-color: #a9a9a9;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #dcdcdc;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
	}

	mcTableColumnStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #808080;
	}

	mcTableHeadStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableBodyStyle
	{
		ruler-style: solid;
		ruler-width: 1px;
		ruler-color: #000000;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #c0c0c0;
	}
}

mcTableStyle
{
	name: NoTitle;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #808080;
	border-right-color: #808080;
	border-top-color: #808080;
	border-bottom-color: #dcdcdc;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 10px;
	max-id: 5;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

mcTableColumnStyle
{
	separator-style: none;
	separator-width: 0px;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #006ca8;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: top;
	separator-color: #808080;
	span: 1;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	name: Header1;
	id: 3;
	color: #373f47;
	font-weight: bold;
	separator-width: 0px;
	separator-color: #dcdcdc;
	font-size: 15px;
	background-color: #f5f5f5;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #006da9;
	name: Body1;
	id: 1;
	font-size: 15px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-NoTitle
	{
		border-left-style: none;
		border-left-color: #a9a9a9;
		border-left-width: 1px;
		border-right-style: none;
		border-right-color: #a9a9a9;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #dcdcdc;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #c0c0c0;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-NoTitle-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-HeadF-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-HeadD-Column1-Header1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-BodyI-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-BodyH-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #c0c0c0;
		border-bottom-style: solid;
	}

	.TableStyle-NoTitle-BodyB-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #808080;
		border-right-style: none;
	}

	.TableStyle-NoTitle-BodyG-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: solid;
	}
}

.TableStyle-NoTitle
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #808080;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #808080;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #808080;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-NoTitle-Column-Column1
{
	
}

.TableStyle-NoTitle-Head-Header1
{
	
}

.TableStyle-NoTitle-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadI-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: none;
}

.TableStyle-NoTitle-HeadE-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: none;
}

.TableStyle-NoTitle-HeadF-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadH-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: none;
}

.TableStyle-NoTitle-HeadD-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadC-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadB-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadA-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
	background-color: #f5f5f5;
}

.TableStyle-NoTitle-HeadG-Column1-Header1 p
{
	color: #373f47;
	font-size: 15px;
	font-weight: bold;
}

.TableStyle-NoTitle-FootI-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-FootI-Column1- p
{
	
}

.TableStyle-NoTitle-FootE-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-FootE-Column1- p
{
	
}

.TableStyle-NoTitle-FootF-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-FootF-Column1- p
{
	
}

.TableStyle-NoTitle-FootH-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-FootH-Column1- p
{
	
}

.TableStyle-NoTitle-FootD-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-FootD-Column1- p
{
	
}

.TableStyle-NoTitle-FootC-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-FootC-Column1- p
{
	
}

.TableStyle-NoTitle-FootB-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-FootB-Column1- p
{
	
}

.TableStyle-NoTitle-FootA-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-FootA-Column1- p
{
	
}

.TableStyle-NoTitle-FootG-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-FootG-Column1- p
{
	
}

.TableStyle-NoTitle-Body-Body1
{
	
}

.TableStyle-NoTitle-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #006da9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-BodyI-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-BodyE-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-BodyF-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #006da9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-BodyH-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-BodyD-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #006ca8;
	border-right-style: solid;
}

.TableStyle-NoTitle-BodyC-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #808080;
	border-right-style: none;
}

.TableStyle-NoTitle-BodyB-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-BodyA-Column1-Body1 p
{
	font-size: 15px;
}

.TableStyle-NoTitle-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom-width: 1px;
	border-bottom-color: #006da9;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-NoTitle-BodyG-Column1-Body1 p
{
	font-size: 15px;
}


